.side-bar {
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0px;
    width: 70px;
    bottom: 0px;
    padding-top: 10px;
    z-index: 3;
}

.side-bar-icon-container {
    text-align: center;
    cursor: pointer;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-bar-icon-container:hover {
    background-color: rgb(231, 231, 231);
}

.side-bar-icon-container img {
    width: 35%;
}

.side-bar-icon-container p {
    margin-top: 6px;
    font-size: 10px;
    font-family: Roboto, Arial;
}